@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo</h1>
    <p>Mais informações <a href="https://docs.microsoft.com/aspnet/core">Web apps desenvolvido com ASP.NET Core</a>.</p>
</div>
